.placeholderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }
  
  .placeholderImage {
    width: 70px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .placeholderIcon {
    font-size: 3rem;
    color: #888;
    margin-bottom: 10px;
  }
  
  .placeholderText {
    font-size: 1.2rem;
    color: #555;
  }
  